@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #aaa4a4;
  --foreground: #0c0c0c;
  --navbar-height: 72px; /* Tinggi navbar (py-4 + konten ~40px) */
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

@theme inline {
  --color-background: #090101;
  --color-foreground: #f5efef;
  --font-logo: "Poppins", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #090101;
    --foreground: #f5efef;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
* {
  font-family: var(--font-jakarta), system-ui, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}